{{ define "main" }}

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="display-3">DevOps all the things!</h1>
      <p class="lead">
        Yes, I agree, the title does not make much sense.
        It probably should be "DevOps <i>for</i> all the things" at the very least.
        But it reminds me of "all the things" meme, so I'll leave it as is for now.
        And according to dictionary, "palooza" emphasizes or 
        exaggerates the element of a situation. So it fits.
        <br>
        I see this site as an expert blog about the IT industry:
        software development, site reliability engineering, consultancy practices and career advice.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="/img/logo.png" class="float-md-right">
    </div>
  </div>
  <div class="row">
    <hr class="my-4 px-0">
    <p>
      You can subscribe for updates about this project here:
    </p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="email" placeholder="email address" id="subscribe_email_input">
      <button class="btn btn-secondary my-2 my-sm-0" type="button" id="subscribe_btn">Subscribe</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Why?</h3>

    <p>
      This is probably the question you ask yourself - why this can be helpful to me?
    </p>
    <p>
      My career started in 2005 as a C++ developer in Russia; 
      then, in 2013, my wife and me moved to Australia with a Skilled Independent visa 
      and I got my first job down under as C# senior developer. 
      8 years later, in 2021, our family migrated again - to Switzerland with 
      my working visa as a site reliability engineer.
    </p>
    <p>
      So at least three countries deemed me good enough for them. And I need to tell you - 
      to remotely get a job in Switzerland from a third country during COVID is not an easy task!
      I am proud of this achievement.
    </p>

    <p>
      I am an IT professional with a lot of knowledge in DevOps practices, cloud solution architecture, 
      and I can add many more buzz-words into this sentence. But I would not. 
      I want to share my ideas, personal opinions based on my work, life experiences, 
      learning hints, philosophical ramblings, and biases.
      Please enjoy!
    </p>
  </div>
</div>

<div class="container tagcloud">
  And here is a list of what type of artiles you could find on this site:
  <br>
  {{ if ne (len $.Site.Taxonomies.tags) 0 }}
    {{ $largestFontSize := 1.4 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}
      {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        {{ $tagCount := len $taxonomy.Pages }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
        {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
          <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}/" 
          class="tagcloud-item" style="font-size: {{ $currentFontSize }}rem;">
            {{ $name }}<sup>{{ $tagCount }}</sup>
          </a>
      {{ end }}
  {{ end }}
</div>

<script>
  window.onload = function () {
    var btn = document.getElementById("subscribe_btn");
    if (btn.addEventListener) {
        btn.addEventListener("click", btnClick, false);
    } else if (btn.attachEvent) {
        btn.attachEvent("onclick", btnClick);
    }
  };

  async function btnClick() {        
    let email = document.getElementById("subscribe_email_input").value;
    console.log(email);
    var res = await fetch('https://dfny6kzadi.execute-api.ap-southeast-2.amazonaws.com/Prod/subscribe', 
    {
      
      method: "POST",
      body: '"' + email + '"'
    })
    .then(response => { console.log(response);})
    .catch(err => console.log(err));
  }
</script>

{{ end }}